* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

h1 {
    margin-bottom: 22px;
}

#difficulty button {
    padding: 10px 18px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    background-color: #e6e6e6;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

#difficulty button:hover {
    background-color: #cbcaca;
}

#cards {
    /*here i used grid to show 4 cards in each row*/
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 80px);
    gap: 16px;
    margin-bottom: 18px;
    margin-top: 18px;
}

#cards div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 82px;
    border-radius: 8px;
    font-size: 40px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

#cards div:hover {
    background-color: #d8d6d6;
}

.card .front, .card .back {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    border-radius: 8px;
    position: absolute;
    /*hide the face when the card is rotated*/
    backface-visibility: hidden;
}

.card .front {
    cursor: pointer;
}

#start-button {
    padding:9px 18px;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    background-color: #74b9ff;
    color: white;
    cursor: pointer;
}

#start-button:hover {
    background-color: #0984e3;
}

#restart-button {
    display: none;
    padding:9px 18px;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    background-color: #74b9ff;
    color: white;
    cursor: pointer;
}

#restart-button:hover {
    background-color: #0984e3;
}

#timer-display {
    display: inline-block;
    font-size: 24px;
    margin-bottom: 15px;
    padding: 5px 15px;
    background-color: #e6ebec;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

#message-display {
    font-size: 24px;
    font-weight: bold;
    margin-Bottom: 15px;
}

/* here I hide the back cards and show the front cards. I added flip class with js  */
.card .back {
    transform: rotateY(180deg);
}

.card.flip .front {
    transform: rotateY(180deg);
}

.card.flip .back {
    transform: rotateY(0deg);
}